

    <div class="col-lg-6">          
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput
      class=""
      type="text"
      [value]=""
      (keyup)="filtrarNotas($event)"
      placeholder="Filtrar acordes"
    />
          </mat-form-field>
    </div>            
<table class="table table-striped">
  <thead>
    <tr>
      @for(column of columnsToDisplay; track column) {
        <th scope="col" class="text-center">{{column}}</th>
      }
    </tr>
</thead>
<tbody>    
      @for(campoHarmonic of campoHarmonico; track campoHarmonic) {
        <tr>
          @for(note of campoHarmonic; track note) {
        <td class="text-center">{{note}}</td>
        }
        </tr>   
      }
</tbody>
</table>


