<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Progressões Harmônicas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
          <div class="row">
          <div class="col-lg-12">
        <!-- ------------------------------------------------------------------------- -->
        <!-- basic -->
        <!-- ------------------------------------------------------------------------- -->        
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Modos Maiores</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <div class="row">
            <div class="col-lg-6">
                <h5>1. Progressão I - IV - V - I</h5>
                <p>Essa é uma das progressões mais comuns, especialmente em músicas populares e folk.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: O acorde inicial que define a tonalidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Um acorde de transição que prepara a tensão.</li>
                    <li><strong>V (Dominante)</strong>: Cria tensão e expectativa.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão, finalizando a progressão.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>2. Progressão ii - V - I</h5>
                <p>Uma das progressões mais populares no jazz e na música clássica, conhecida como "progressão cadencial".</p>
                <ul>
                    <li><strong>ii (Superdominante menor)</strong>: Acorde menor que prepara a tensão.</li>
                    <li><strong>V (Dominante)</strong>: Acorde que cria forte tensão, pedindo resolução.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão de maneira estável e final.</li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h5>3. Progressão I - V - vi - IV</h5>
                <p>Popular em muitas músicas pop modernas, essa progressão cria um movimento emocional entre acordes maiores e menores.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Estabelece a tonalidade.</li>
                    <li><strong>V (Dominante)</strong>: Cria uma tensão que é parcialmente resolvida.</li>
                    <li><strong>vi (Submediante menor)</strong>: Acorde menor que oferece uma sensação de suavidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Prepara uma resolução de volta à tônica.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>4. Progressão I - vi - IV - V</h5>
                <p>Outra progressão comum no pop e rock. Ela mistura a tônica maior com acordes menores para criar uma sensação dinâmica.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Inicia a progressão, estabelecendo a tonalidade.</li>
                    <li><strong>vi (Submediante menor)</strong>: Acorde menor que adiciona um toque melancólico.</li>
                    <li><strong>IV (Subdominante)</strong>: Prepara para a tensão do próximo acorde.</li>
                    <li><strong>V (Dominante)</strong>: Cria uma forte expectativa para a resolução.</li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h5>5. Progressão I - IV - vi - V</h5>
                <p>Essa progressão é uma variação comum e também muito usada em músicas pop e rock.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Define a tonalidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Cria uma sensação de transição.</li>
                    <li><strong>vi (Submediante menor)</strong>: Acorde menor que oferece suavidade.</li>
                    <li><strong>V (Dominante)</strong>: Cria tensão, aguardando a resolução no acorde tônico.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>6. Progressão I - V - IV - IV</h5>
                <p>Usada em várias músicas tradicionais, especialmente na música folk.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Inicia a progressão, firmando a tonalidade.</li>
                    <li><strong>V (Dominante)</strong>: Gera tensão e expectativa.</li>
                    <li><strong>IV (Subdominante)</strong>: Acorde que prepara a resolução e introduz suavidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Reforça a sensação de preparação para a volta ao tônico.</li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h5>7. Progressão I - ii - V - I</h5>
                <p>Comum no jazz e em várias peças clássicas, ela leva a uma resolução mais sofisticada e fluída.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Estabelece a tonalidade inicial.</li>
                    <li><strong>ii (Superdominante menor)</strong>: Cria uma leve tensão.</li>
                    <li><strong>V (Dominante)</strong>: Gera uma grande tensão, esperando a resolução.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>8. Progressão vi - IV - I - V</h5>
                <p>Uma progressão muito usada na música pop contemporânea, criando um ciclo emocional entre acordes maiores e menores.</p>
                <ul>
                    <li><strong>vi (Submediante menor)</strong>: Um acorde menor que inicia a progressão com um toque melancólico.</li>
                    <li><strong>IV (Subdominante)</strong>: Cria uma sensação de transição.</li>
                    <li><strong>I (Tônica)</strong>: Resoluciona a tensão e retorna ao centro tonal.</li>
                    <li><strong>V (Dominante)</strong>: Cria expectativa para a resolução.</li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h5>9. Progressão ii - V - I - VI</h5>
                <p>Comum em jazz, essa progressão oferece uma sensação de movimento, criando tensão e resolução, seguida de uma variação.</p>
                <ul>
                    <li><strong>ii (Superdominante menor)</strong>: Acorde menor que prepara a tensão.</li>
                    <li><strong>V (Dominante)</strong>: Cria uma forte tensão, esperando a resolução.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão.</li>
                    <li><strong>VI (Submediante maior)</strong>: Proporciona uma variação, mudando para um acorde maior.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>10. Progressão IV - V - I</h5>
                <p>Popular no blues, essa progressão leva da subdominante para a dominante e retorna à tônica.</p>
                <ul>
                    <li><strong>IV (Subdominante)</strong>: Começa a progressão com uma sensação de preparação.</li>
                    <li><strong>V (Dominante)</strong>: Gera tensão.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão, finalizando a progressão.</li>
                </ul>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h5>11. Progressão I - IV - V - IV</h5>
                <p>Uma progressão com uma sensação de movimento contínuo, com uma volta ao acorde IV antes de retornar ao início.</p>
                <ul>
                    <li><strong>I (Tônica)</strong>: Estabelece a tonalidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Cria uma sensação de transição.</li>
                    <li><strong>V (Dominante)</strong>: Gera tensão, aguardando a resolução.</li>
                    <li><strong>IV (Subdominante)</strong>: Volta ao IV para criar mais movimento antes de terminar.</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h5>12. Progressão V - vi - IV - I</h5>
                <p>Usada em muitas músicas pop modernas, essa progressão começa com a dominante e cria uma sensação de suavidade ao mudar para acordes menores.</p>
                <ul>
                    <li><strong>V (Dominante)</strong>: Cria tensão e expectativa.</li>
                    <li><strong>vi (Submediante menor)</strong>: Acorde menor que introduz suavidade.</li>
                    <li><strong>IV (Subdominante)</strong>: Prepara a transição.</li>
                    <li><strong>I (Tônica)</strong>: Resolve a tensão e conclui a progressão.</li>
                </ul>
            </div>
        </div>
          </mat-card-content>    
        </mat-card>
      </div>
  </div>
    </div>
  </mat-card-content>
</mat-card>